body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #FFF;
    margin: 0;
}

.header {
    margin-bottom: 45px;
}

.container {
    max-width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;    
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col_l {
    width: 58.3%;
    float: left;    
}

.col_r {
    width: 41.6%;
    float: right;     
}

.columns {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;    
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.img_div {
    width: 255px;
    height: 175px;
    border: 1px solid #DDC;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}

.win {
    color: green;
}

.wrong {
    color: red;
}

.layout {
    width: 70%; 
    margin: 20px 0px auto; 
    padding: 20px; 
    border: 1px solid #CCC; 
    border-radius: 5px;
}

.smart-frame-land {
    width: 610px;
    height: 320px;
    padding: 2em 5em 2em 5em;
    background: #333;
    margin: 0 auto;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
}

.in-layout {
    background-color: #FFF;
    padding: 35px 10px 10px 10px;
    height: 260px;
}