<!doctype html>
<html>
<head>
    <title>The Game 2.0</title>
    <meta charset="utf-8">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>

    <!-- <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body class="container">
    <div class="header">
        <h2 class="text-muted">The Game 2.0</h2>
    </div>

    <div class="smart-frame-land">
        <div class="row in-layout">
            <div class="col_l columns">
                <div class="img_div" >
                    <canvas id="canvas" width="255" height="175">
                    </canvas>
                </div>
                <br>

            </div>
            <div class="col_r columns">
                <select id="sel">
                    <option disabled="disabled" selected="selected">Choose</option>
                    <option value="wild">Wild</option>
                    <option value="erdbeere">Erdbeere</option>
                    <option value="pine">Pineapple</option>
                    <option value="lemon">Lemon</option>
                    <option value="green">Green</option>
                    <option value="dewberry">Dewberry</option>
                </select>
                <br><br>
                <button type="btn btn-success" id="btn">Spielen!</button>
                <br><br>
                <h2 id="text" ng-model="txt"></h2>
            </div>
        </div>
    </div>

</body>
</html>